body {
	background-color: #eae7e7;
	margin: 0;
	padding: 0;
	font-family: Arial;
	height: 100%;
	min-width: 900px;
}

h1 {
	margin-top: 0;
}

.message {
	clear: left;
	display: block;
	line-height: 12px;
	padding: 6px;
	margin: 3px 0;
	border-radius: 4px;
	color: white;
	font-style: italic;
	font-size: 14px;
}

.message-red {
	background-color: rgb(223, 86, 86);
}

.message-green {
	background-color: rgb(86, 223, 120);
}

.message-blue {
	background-color: rgb(67, 136, 201);
}

.header {
	width: 100%;
	background-color: #ff6900;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	color: #1b1818;
	border-bottom: 3px solid #ff7c00;
}


.errormessage {
	display: block;
	color: red;
	font-style: italic;
	font-size: 15px;
}

.search-form {
	margin-bottom: 15px;
	float: left;
}

.main-panel {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	margin-top: 40px;
}

.main-panel input[type="text"] {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 5px 8px;
	border: 1px solid #A8A8A8;
	border-radius: 3px;
}

.main-panel input[type="submit"] {
	width: 100%;
	box-sizing: border-box;
	padding: 3px;
	padding-bottom: 6px;
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	background-color: #1F74A9;
	color: white;
	font-size: 15px;
}

.main-panel input[type="submit"]:hover {
	background-color: rgb(107, 185, 233);
	color: white;
	cursor: pointer;
}

.main-panel #cancel {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	padding: 3px;
	padding-bottom: 6px;
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	background-color: rgb(169, 31, 77);
	color: white;
	font-size: 15px;
}

.main-panel #cancel:hover {
	background-color: rgb(216, 95, 135);
	color: white;
	font-size: 15px;
}

.p-submit {
	margin-bottom: 3px;
}

.main-panel select {
	padding: 3px;
	border: 1px solid #A8A8A8;
	border-radius: 4px;
}

.input-div {
	float: left;
	width: 24%;
	min-width: 240.234px;
	padding-left: 1%;
	padding-right: 1%;
	height:100%;
	position: fixed;
	background-color: #222;
}

.right-div {
	margin-left: 24%;
	margin-top: 40px;
	margin-left: 26%;
	overflow: hidden;
	padding-bottom: 20px;
}

.form-div {
	margin: 0 20px;
}

.table-div {
	margin: 0 auto;
	border: 1px solid #2E2E2E;
	display: block;
	background-color: #d1c8c3;
	border-radius: 6px;
	box-shadow: 13px 12px 16px #353535;
	width: 856px;
}

.table-inner-div {
	overflow: auto;
	clear: left;
	max-height: 400px;
	margin: 0 20px 20px 20px;
}

.table-div h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	background-color: #2E2E2E;
	color: white;
	margin-top: 0;
	padding: 4px;
	border-radius: 6px 6px 0 0;
}

.table-div input[name="search"] {
	margin: 0 auto;
	padding: 9px;
	border-radius: 5px;
	border: 1px solid rgb(191, 196, 204);
	color: rgb(126, 126, 126);
}

.table-div button{
	margin: 0 auto;
	padding: 9px;
	border-radius: 5px;
	border: 1px solid rgb(191, 196, 204);
	background-color: #1F74A9;
	color: rgb(36, 35, 35);
}

.table-div button:hover {
	background-color: #1e427c;
	color: rgb(235, 239, 241);
}

.table-div .refresh {
	background-color: rgb(8, 185, 88);
	color: rgb(0, 0, 0);
	padding: 10px;
	float: left;
	margin-left: 6px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 12px;
}

.table-div .refresh:hover {
	background-color: rgb(41, 153, 129);
	color: white;
}

table {
	border-collapse: collapse;
	margin-top: 15px;
	min-width: 816px;
	border: 1px solid rgb(82, 75, 75);
}

tr:nth-child(odd) td {
	background-color: rgb(87, 84, 84);
}

th {
	background-color: white;
	padding: 5px;
}

tr td {
	padding-top: 5px;
	padding-bottom: 5px;
}

td {
	background-color: rgb(71, 69, 69);
	color: white;
	padding: 4px;
	max-width: 117.333333333px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td-buttons {
	width: 96px;
	min-width: 96px;
}

table a {
	background-color: #6394e2;
	padding: 2px;
	margin: 3px;
	border: 1px solid black;
	color: white;
	text-decoration: none;
}

table a:hover {
	background-color: #214f99;
}

.author {
	margin-top: 10px;
	width: 89%;
	background-color: #3A3A3A;
	padding: 6px;
	border-radius: 6px;
	color: #7B7878;
	position: absolute;
  	bottom:60px;
}

.author p {
	margin: 0;
}